[submodule "protochess-engine"]
	path = protochess-engine
	url = https://github.com/p-rivero/protochess-engine
[submodule "chessgroundx"]
	path = chessgroundx
	url = https://github.com/p-rivero/chessgroundx
