
@import 'variables';

$scheme-main: $black-ter;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;

$primary: $brown;
$primary-dark: $dark-brown;
$primary-light: $light-brown;

$text: $grey-lightest;
$text-light: $grey-light;
$text-strong: $white;

$link: $primary;
$link-visited: $primary;
$link-hover: $grey-lighter;
$link-focus: $primary-light;
$link-focus-border: $primary-light;
$link-active: $primary;
$link-active-border: $primary;

$border: $grey-dark;
$border-hover: $grey;
$border-light: $grey-darker;
$border-light-hover: $grey-dark;

$modal-card-head-background-color: $scheme-main-bis;

$shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.3), 0 0px 0 1px rgba(0, 0, 0, 0.2);
$card-header-shadow: $shadow;

@import "node_modules/bulma-checkbox/bulma-checkbox";
@import 'bulma/bulma.sass';

@import 'icons';
@import 'helpers';
