@import 'variables';

$scheme-main: $black-ter;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;

$primary: $brown;
$primary-dark: $light-brown;
$primary-light: $dark-brown;

$text: $grey-lightest;
$text-light: $grey-light;
$text-strong: $white;

$link: $primary-dark;
$link-visited: $primary-dark;
$link-hover: $grey-lighter;
$link-focus: $primary-dark;
$link-focus-border: $primary-dark;
$link-active: $primary-dark;
$link-active-border: $primary-dark;

$border: $grey-dark;
$border-hover: $grey;
$border-light: $grey-darker;
$border-light-hover: $grey-dark;

$code: $text;
$background: $grey-darkest;

$modal-card-head-background-color: $scheme-main-bis;

$shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4);
$card-header-shadow: $shadow;

$tooltip-bg: $grey-darkest;

@import 'dependencies/index';

// Browser's spinner arrows cannot be styled, hide them
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
