.sz-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    margin-left: -0.2rem;
    flex-shrink: 0;
}
.sz-2 {
    width: 2rem !important;
    height: 2rem !important;
    flex-shrink: 0;
}
.sz-3 {
    width: 3rem !important;
    height: 3rem !important;
    flex-shrink: 0;
}

.h-100 {
    height: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.button-square {
    // Buttons are 2.5em tall by default
    width: 2.5em !important;
}

.scrollable {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.borderless {
    border: none !important;
}

.is-break-word {
    word-break: break-word;
}

// Similar to is-flex, but allows using v-show
.is-flex-show {
    display: flex;
}

// Move text slightly down to align with icons
.adjust-text {
    margin-top: 0.1rem;
}

ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
em {
    padding-right: 0.2rem;
}

img.is-rounded {
    border-radius: 50%;
    object-fit: cover;
}

[data-tooltip]:hover:before {
    font-size: 0.9rem;
    font-family: $family-serif;
    border-radius: 0.25rem;
}

a.no-color {
    color: inherit;
}
