
@import 'variables';

$primary: $brown;
$primary-dark: $dark-brown;
$primary-light: $light-brown;

$link: $primary;
$link-visited: $primary;
$link-hover: $grey-darker;
$link-focus: $primary-light;
$link-focus-border: $primary-light;
$link-active: $primary;
$link-active-border: $primary;

$shadow: 0 0.2em 1em 0 rgba(0, 0, 0, 0.3);

@import "node_modules/bulma-checkbox/bulma-checkbox";
@import 'bulma/bulma.sass';

@import 'icons';
@import 'helpers';
