
@import 'variables';

$primary: $brown;
$primary-dark: $dark-brown;
$primary-light: $light-brown;

$link: $dark-green;
$link-visited: $dark-green;
$link-hover: $grey-darker;
$link-focus: $dark-green;
$link-focus-border: $dark-green;
$link-active: $green;
$link-active-border: $green;

@import "node_modules/bulma-checkbox/bulma-checkbox";
@import 'bulma/bulma.sass';

@import 'icons';
