
@import 'variables';

$primary: $brown;
$primary-dark: $dark-brown;
$primary-light: $light-brown;

$link: $dark-green;
$link-visited: $dark-green;
$link-hover: $grey-darker;
$link-focus: $dark-green;
$link-focus-border: $dark-green;
$link-active: $green;
$link-active-border: $green;

@import 'bulma/bulma.sass';

@import '@/assets/img/icons/icons.scss';

.color-primary {
    background-color: $primary;
}
.color-primary-dark {
    background-color: $primary-dark;
}
.color-theme {
    background-color: $grey-darker;
}
