.icon-add-light {
    margin-bottom: 0.1rem;
    background-image: url("@/assets/img/plus/plus-light.svg");
}

.icon-download-light {
    margin-bottom: 0.1rem;
    background-image: url("@/assets/img/download/download-light.svg");
}

.icon-upload-light {
    margin-bottom: 0.1rem;
    background-image: url("@/assets/img/upload/upload-light.svg");
}

.icon-cross-light {
    background-image: url("@/assets/img/cross/cross-light.svg");
}

.icon-trash-light {
    background-image: url("@/assets/img/trash/trash-light.svg");
}

.icon-edit-light {
    background-image: url("@/assets/img/edit/edit-light.svg");
}

.icon-account-light {
    background-image: url("@/assets/img/account/account-light.svg");
}

.icon-theme-light {
    background-image: url("@/assets/img/theme/theme-light.svg");
}

.icon-analysis-light {
    background-image: url("@/assets/img/analysis/analysis-light.svg");
}

.icon-cpu-light {
    background-image: url("@/assets/img/cpu/cpu-light.svg");
}

.icon-rocket-light {
    background-image: url("@/assets/img/rocket/rocket-light.svg");
}
