.icon-add-dark {
    margin-bottom: 0.1rem;
    background-image: url("@/assets/img/plus/plus-dark.svg");
}

.icon-download-dark {
    margin-bottom: 0.1rem;
    background-image: url("@/assets/img/download/download-dark.svg");
}

.icon-upload-dark {
    margin-bottom: 0.1rem;
    background-image: url("@/assets/img/upload/upload-dark.svg");
}

.icon-cross-dark {
    background-image: url("@/assets/img/cross/cross-dark.svg");
}

.icon-trash-dark {
    background-image: url("@/assets/img/trash/trash-dark.svg");
}

.icon-edit-dark {
    background-image: url("@/assets/img/edit/edit-dark.svg");
}

.icon-account-dark {
    background-image: url("@/assets/img/account/account-dark.svg");
}

.icon-theme-dark {
    background-image: url("@/assets/img/theme/theme-dark.svg");
}

.icon-analysis-dark {
    background-image: url("@/assets/img/analysis/analysis-dark.svg");
}

.icon-cpu-dark {
    background-image: url("@/assets/img/cpu/cpu-dark.svg");
}

.icon-rocket-dark {
    background-image: url("@/assets/img/rocket/rocket-dark.svg");
}
