rules_version = '2';

function loggedAs(id) {
  return request.auth.uid != null && request.auth.uid == id && request.auth.token.email_verified;
}
function authMetadata() {
  return 'userId' in request.resource.metadata && loggedAs(request.resource.metadata.userId);
}

function sizeKib(maxSizeKibibytes) {
  return request.resource.size < maxSizeKibibytes * 1024;
}

function isImage() {
  let contentType = request.resource.contentType;
  return contentType != null && contentType.matches('image/.*');
}

service firebase.storage {
  // When deployed, bucket == "rechess-web.appspot.com". This is not true in unit tests.
  match /b/{bucket}/o {
    match /profile-images/{userId} {
      // Anyone can see the images
      allow read;
      
      // Only allow uploading images of 200kB or less, and only for the user's own profile.
      allow create, update: if
        authMetadata() &&
        sizeKib(200) &&
        isImage() &&
        loggedAs(userId);
        
      // Only allow deleting the user's own profile image.
      allow delete: if loggedAs(userId);
    }
  }
}
