
// Set default font
@import url('https://fonts.googleapis.com/css2?family=Rubik');
$family-serif: "Rubik", serif;
$family-primary: $family-serif;

$navbar-height: 4rem;

$dark-brown: hsl(27, 50%, 50%);
$dark-green: hsl(137, 50%, 50%);
$light-green: hsl(137, 50%, 80%);
$primary: $dark-brown;
$link: $dark-green;

@import 'bulma/bulma.sass';

// Dark theme variant
[data-theme="dark"] {
    body,
    .navbar-item:hover,
    .input,
    .textarea,
    .box,
    .navbar-menu {
        background-color: $dark;
        color: $light;
    }
    nav {
        @extend .is-dark;
    }
    
    .card-header,
    .box
    {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    
    .subtitle,
    .title,
    .navbar-item,
    .label,
    strong,
    .card-header-title
    {
        color: $light;
    }
    
    // Color for link hover
    a:hover,
    .radio:hover,
    .checkbox:hover
    {
        color: $light-green;
    }
    
    ::placeholder {
        color: $grey;
        opacity: 1;
    }

}


// Light theme variant
[data-theme="light"] {
    $transitionDuration: 1000ms;
    body {
        background-color: $light;
        color: $dark;
        transition: background-color $transitionDuration, color $transitionDuration;
        -webkit-transition: background-color $transitionDuration, color $transitionDuration;
        -ms-transition: background-color $transitionDuration, color $transitionDuration;
    }
    .navbar-menu {
        @extend .is-light;
        transition: background-color $transitionDuration, color $transitionDuration;
        -webkit-transition: background-color $transitionDuration, color $transitionDuration;
        -ms-transition: background-color $transitionDuration, color $transitionDuration;
    }
    nav {
        transition: background-color $transitionDuration, color $transitionDuration;
        -webkit-transition: background-color $transitionDuration, color $transitionDuration;
        -ms-transition: background-color $transitionDuration, color $transitionDuration;
    }
    
    body .subtitle,
    body .title {
        color: $dark;
        transition: color $transitionDuration;
    }
    
    .subtitle,
    .title,
    .navbar-item,
    .label,
    strong,
    .card-header-title
    {
        transition: color $transitionDuration;
    }
    
    a:hover,
    .radio:hover,
    .checkbox:hover
    {
        transition: color $transitionDuration;
    }
    
    ::placeholder {
        transition: color $transitionDuration;
    }
}

@import './img/icons/icons.scss';
// Icons with unconditional color
.color-white {
    background-color: $light;
}
.color-black {
    background-color: $dark;
}
.color-primary {
    background-color: $primary;
}
// Icons depending on theme
[data-theme="dark"] {
    .color-theme {
        @extend .color-white;
    }
}
[data-theme="light"] {
    .color-theme {
        @extend .color-black;
    }
}
