
// Set default font
@import url('https://fonts.googleapis.com/css2?family=Rubik');
$family-serif: "Rubik", serif;
$family-primary: $family-serif;

$dark-brown: hsl(27, 50%, 50%);
$dark-green: hsl(137, 50%, 50%);
$light-green: hsl(137, 50%, 80%);
$primary: $dark-brown;
$link: $dark-green;

@import 'bulma/bulma.sass';

// Dark theme variant
[data-theme="dark"] {
    body {
        background-color: $dark;
        color: $light;
    }
    nav {
        @extend .is-dark;
    }
    
    .subtitle,
    .title,
    .card-header-title
    {
        color: $light;
    }
    
    // Color for link hover
    a:hover {
        color: $light-green;
    }
}


// Light theme variant
[data-theme="light"] {
    body {
        background-color: $light;
        color: $dark;
    }
    
    body .subtitle,
    body .title {
        color: $dark;
    }
}
